#header{
   background-color: #6b705c;
    background-size: cover;
    margin: -50px -50px 0 -50px;
    height: 200px;
    background-repeat: no-repeat;
}
body {
    background: #c9c9ba;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    margin-top: 5px;
  }
  nav{

    text-align:center;
 }
 #footer {
    text-align: left;
    height: 10cm;
  }
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    #navigation ul li {
      font: bold 12px/18px sans-serif;
      margin-right: -5px;
      padding: 15px 30px;
      background: #fff;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
