
.list{
  margin-left: 11cm;
}

 a {
    text-decoration: none;
    color:black;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}
#navigation{
  
    padding-top: 5%;
  }
#navigation ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  padding: 15px 30px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#navigation ul li:hover {
    background: #ddbea9;
    color: rgb(255, 255, 255);
  }
  
  